<mjml>
    <mj-body background-color="#ebebeb" >
        <mj-section padding-bottom="20px" padding-top="20px" background-color="#9D9D9D" full-width="full-width">
            <mj-column width="33%">
                <mj-image src="https://download.trainznation.tk/v3/media/logo.png"></mj-image>
            </mj-column>
            <mj-column width="33%">
                &nbsp;
            </mj-column>
            <mj-column width="33%">
                <mj-text align="right" font-size="25px" color="#CBCBCB" font-family="Ubuntu, Helvetica, Arial, sans-serif">Bienvenue</mj-text>
            </mj-column>
        </mj-section>
        <mj-section padding-bottom="20px" padding-top="20px">
            <mj-column width="100%" padding-bottom="20px">
                <mj-text align="center" font-size="25px" font-weight="500">Bienvenue {{ $user->name }},</mj-text>
                <mj-image src="https://download.trainznation.tk/v3/media/svg/illustrations/contact.svg" alt="" />
            </mj-column>
            <mj-column width="100%" padding-bottom="20px">
                <mj-text font-size="16px">
                    <p>Bonjour,</p>
                    <p>Je suis Maxime (alias syltheron ou mookidu85100 dans trainz), le fondateur de Trainznation.<br>Merci d'avoir rejoint notre site.</p>
                    <p>Après avoir découvert et participer à plusieurs créations pour Trainz, j'ai décider de créer ma propre infrastructure afin de vous fournir des routes, objets et matériels roulants les plus réalistes possible.</p>
                </mj-text>
            </mj-column>
        </mj-section>
        <mj-section>
            <mj-column>
                <mj-divider border-width="1px" width="100%" border-color="#CBCBCB" />
            </mj-column>
        </mj-section>

        <mj-section padding-bottom="20px" padding-top="20px">
            <mj-column width="25%">
                <mj-image src="https://download.trainznation.tk/v3/media/svg/icons/Communication/RSS.svg" alt="" />
                <mj-text align="center" font-size="12px" height="90px">Suivez les dernières nouveautés de Trainznation</mj-text>
                <mj-button href="https://trainznation.tk/blog">Blog</mj-button>
            </mj-column>
            <mj-column width="25%">
                <mj-image src="https://download.trainznation.tk/v3/media/svg/icons/Map/Marker2.svg" alt="" />
                <mj-text align="center" font-size="12px" height="90px">Télécharger les maps et session de Trainznation</mj-text>
                <mj-button href="https://trainznation.tk/route">Route</mj-button>
            </mj-column>
            <mj-column width="25%">
                <mj-image src="https://download.trainznation.tk/v3/media/svg/icons/Files/Download.svg" alt="" />
                <mj-text align="center" font-size="12px" height="90px">Télécharger des objets créer par l'équipe de Trainznation</mj-text>
                <mj-button href="https://trainznation.tk/download">Objets</mj-button>
            </mj-column>
            <mj-column width="25%">
                <mj-image src="https://download.trainznation.tk/v3/media/svg/icons/Devices/Video-camera.svg" alt="" />
                <mj-text align="center" font-size="12px" height="90px">Regarder plus de 30 heures de vidéo de tutoriel sur l'environnement de Trainz</mj-text>
                <mj-button href="https://trainznation.tk/tutoriel">Tutoriel</mj-button>
            </mj-column>
        </mj-section>
        <mj-section>
            <mj-column>
                <mj-divider border-width="1px" width="100%" border-color="#CBCBCB" />
            </mj-column>
        </mj-section>
        <mj-section padding-bottom="20px" padding-top="20px">
            <mj-column width="100%">
                <mj-text>
                Si vous avez des questions relatives à notre site, n'hésitez pas à nous contacter par l'intermédiaire de <a href="https://www.facebook.com/trainznationfr/">Facebook</a> | <a href="https://twitter.com/trainznation">Twitter</a> ou par <a href="mailto:trainznation@gmail.com">email</a>.
                </mj-text>
            </mj-column>
        </mj-section>
    </mj-body>
</mjml>
